@import url('./variables.css');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    /* border: 0.2px solid; */
    box-sizing: border-box;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p {
    width: 100%;
}

a, 
li,
input, 
button {
    all: unset;
    display: block;
    width: 100%;
    font: inherit;
}



img {
    height: auto;
}

input {
    width: 100%;
}

a,
button {
    cursor: pointer;
}

ion-icon {
    display: block;
    pointer-events: none;
}

address {
    font-style: normal;
}

html {
    font-family: var(--ff-IBM-Plex-Sans);
    font-size: 10px;
    scroll-behavior: smooth;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: var(--bg-lavender-blush);
    font-size: var(--fontSize-6);
    line-height: 1.8;
}

