/* IMPORT CSS MODULES */

@import url('./variables.css');

/* REUSABLE CSS STYLES */

.container {
    padding-inline: var(--pd-inline-container);
}

.container__grid {
    display: grid;
    gap: var(--gap-05);
}

.card__wrapper_grid {
    display: grid;
    gap: var(--gap-04);
}

.content__grid {
    display: grid;
    gap: var(--gap-03);
}

.gallery__grid {
    display: grid;
    gap: var(--gap-02);
}

.section__title_grid {
    display: grid;
    gap: var(--gap-01);
}

.card__content_grid {
    display: grid;
    gap: var(--gap-01);
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap-01);
    max-width: max-content;
    height: 40px;
    color: var(--text-white);
    padding-inline: var(--pd-03);
    border-radius: var(--radius-10);
    transition: var(--transition-1);
}

.btn__primary {
    background-color: var(--bg-majorelle-blue);
}

.btn__primary:is(:hover, :focus-visible) {
    background-color: var(--bg-ocean-blue);
    box-shadow: var(--shadow-2);
}

.btn__secondary {
    background-color: var(--bg-red-salsa);
}

.btn__secondary:is(:hover, :focus-visible) {
    background-color: var(--bg-english-vermillion);
    box-shadow: var(--shadow-3);
}

.section {
    padding-block-end: var(--section-spacing);
}

.has__bg_image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.title {
    color: var(--text-gunmetal);
    font-weight: var(--weight-semiBold);
    line-height: 1.45;
}

.title__h1 {
    font-size: var(--fontSize-1);
    font-weight: var(--weight-bold);
    line-height: 1.2;
    word-spacing: clamp(10px, 15vw, 25px);
}

.title__h2 {
    font-size: var(--fontSize-2);
    word-spacing: clamp(05px, 5vw, 8px);
}

.title__h3 {
    font-size: var(--fontSize-3);
}

.title__h4 {
    font-size: var(--fontSize-4);
}

.image__cover {
    width: 100%;
    height: 100%;
    object-fit: cover;   
    transition: var(--transition-2);
}

.w__100 {
    width: 100%;
}

.section__subtitle {
    color: var(--text-majorelle-blue);
    font-weight: var(--weight-medium);
    text-transform: uppercase;
}

/* .section__title {
    margin-block: 10px;
} */

.image__holder {
    aspect-ratio: var(--width) / var(--height);
    background-color: var(--bg-gainsboro);
    overflow: hidden;
}
