/* IMPORT CSS MODULES */

@import url('./variables.css');
@import url('./resetDefaults.css');
@import url('./reusables.css');


/* PRE-LOADER */

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
    z-index: 6;
    transition: var(--transition-1);
    background-color: var(--bg-lavender-blush);
}

.preloader.remove {
    visibility: hidden;
    opacity: 0;
}

.preloader__inner {
    position: relative;
}

.preloader__inner::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 80%;
    height: 1.000rem;
    transform: translateX(-50%);
    background-color: var(--bg-black-alpha-20);
    filter: blur(4px);
    z-index: -1;
    animation: dropShadow 800ms ease-in-out infinite alternate;
}

.preloader .preloader__image {
    /* width: var(--width-preloader-image); */
    animation: bounce 800ms ease-in-out infinite alternate;
}

@keyframes bounce {
    0% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}

@keyframes dropShadow {
    0% { width: 40%; }
    100% { width: 80%; }
}

/* 01. HEADER */




/* 02. MAIN CONTENT */

/* 02.01. HERO SECTION */

.hero {
    padding-block-start: 15rem;
}

.hero.has__bg_image {
    background-image: url('/assets/images/hero-bg.jpg');
}

.hero__subtitle {
    display: flex;
    align-items: center;
    gap: var(--gap-01);
    max-width: max-content;
    font-size: var(--fontSize-7);
    color: var(--text-light-coral);
    padding: 0.800rem var(--pd-02);
    background-color: var(--bg-misty-rose);
    border-radius: var(--radius-10);
}

.hero__desc {
    max-width: 42ch;
}

.hero .wrapper {
    display: grid;
    align-items: center;
    gap: var(--gap-04);
}

.hero__btn {
    display: grid;
    grid-template-columns: max-content auto;
    align-items: center;
    gap: var(--gap-03);
    color: var(--text-gunmetal);
    font-weight: var(--weight-medium);
    transition: var(--transition-1);
}

.hero__btn .btn__image {
    position: relative;
    width: 6.000rem;
    height: 6.000rem;   
    box-shadow: var(--shadow-1);
    border-radius: var(--radius-circle);
    background-color: var(--bg-gainsboro);
}

.hero__btn .image__cover {
    border-radius: inherit;
}

.hero__btn ion-icon {
    position: absolute;
    top: 50%;
    right: 0;
    padding: var(--pd-01);
    transform: translate(50%, -50%);
    background-color: var(--bg-white);
    border-radius: var(--radius-circle);
    box-shadow: var(--shadow-1);
}

.hero__btn:is(:hover, :focus-visible) {
    color: var(--text-majorelle-blue);
}


/* 02.02. SERVICE SECTION */


.service__card:nth-child(2) {
    background-color: var(--bg-chrome-yellow-alpha-5);
}

.service__card:nth-child(3) {
    background-color: var(--bg-red-salsa-alpha-5);
}

.service__card:nth-child(4) {
    background-color: var(--bg-majorelle-blue-alpha-5);
}

.service__card {
    padding: var(--pd-2h) var(--pd-02);
    border-radius: var(--radius-10);
}


/* 02.03. DESTINATION SECTION */


.destination .card__wrapper_grid > li {
    border-radius: var(--radius-10);
}

.destination .card__wrapper_grid > li:nth-child(-3n+4) {
    background-color: var(--bg-red-salsa-alpha-10);
}

.destination .card__wrapper_grid > li:nth-child(-3n+5) {
    background-color: var(--bg-majorelle-blue-alpha-10);
}

.destination .card__wrapper_grid > li:nth-child(-3n+6) {
    background-color: var(--bg-chrome-yellow-alpha-10);
}

.destination__card {
    display: grid;
}


.destination__card .card__banner {
    position: relative;
    border-radius: var(--radius-10) var(--radius-10) 0 0;

}

.destination__card:is(:hover, :focus-within) .image__cover {
    transform: scale(1.05);
}

.destination__card .card__price {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 1.8rem;
    line-height: 1.45;
    font-weight: var(--weight-bold);
    background-color: var(--bg-white);
    color: var(--bg-majorelle-blue);
    padding: var(--pd-0h) var(--pd-1h);
    border-radius: var(--radius-10);
}

.destination .card__content {
    display: grid;
    gap: var(--gap-01);
    padding: var(--pd-02) var(--pd-02) var(--pd-03);
}

.destination__card .card__title {
    transition: var(--transition-1);
}

.destination__card .card__title:is(:hover, :focus-visible) {
    color: var(--text-majorelle-blue);
}

.destination__card :is(.card__rating, .span) {
    display: flex;
    align-items: center;
}

.destination__card .card__rating {
    gap: var(--gap-01);
}

.destination__card .card__rating .span {
    background-color: var(--bg-sunglow-alpha-10);
    gap: var(--gap-0h);
    padding: 0.400rem 1.200rem;
    border-radius: var(--radius-10);
}

.destination__card .card__rating ion-icon {
    color: var(--text-sunglow);
}


/* 02.04. EXPERIENCE SECTION */

.experience .container__grid {
    align-items: center;
    gap: var(--gap-05);
}

.experience .section__desc {
    max-width: 60.000rem;
}


.experience__list {
    display: grid;
    gap: var(--gap-1h);
}

.experience__item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: var(--gap-02);
}

.experience__item .item__title {
    font-size: var(--fontSize-exp-item-title);
    font-weight: var(--weight-bold);
    color: var(--text-majorelle-blue);
}

.experience__banner {
    position: relative;
}

.experience__shape {
    position: absolute;
    top: 50%;
    left: -10px;
    width: 25%;
    filter: drop-shadow(var(--shadow-4));
}


/* 02.05. GALLERY SECTION */


.gallery .item__banner {
    border-radius: var(--radius-10);
}



/* 02.06. CTA SECTION */

.cta__card {
    padding: 6.000rem 2.000rem;
    background-color: var(--bg-misty-rose);
    border-radius: var(--radius-10);
}

.cta .section__title .image {
    display: inline-block;
}


/* FOOTER SECTION */

.footer {
    background-color: var(--bg-majorelle-blue-alpha-5);
}

.footer .container {
    display: grid;
}


.footer__top {
    display: grid;
    gap: var(--gap-04);
    padding-block: var(--pd-06);
}

.footer__brand {
    display: grid;
    gap: var(--gap-02);
}

.footer .logo img {
    width: 180px;
}

.footer__desc {
    max-width: 35.000rem;
}

.social__list {
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap-01);
}

.social__link {
    width: max-content;
    color: var(--text-majorelle-blue);
    font-size: var(--fontSize-5);
    padding: var(--pd-01);
    border-radius: var(--radius-10);
    transition: var(--transition-1);
}

.social__link:is(:hover, :focus-visible) {
    background-color: var(--bg-majorelle-blue);
    color: var(--text-white);
}


.footer__list_container {
    display: grid;
    gap: var(--gap-04);
}

.footer__list_wrapper {
    display: grid;
    gap: var(--gap-1h);
}

.footer__list_title,
.footer__newsletter_title {
    color: var(--text-gunmetal);
    font-size: var(--fontSize-5);
    font-weight: var(--weight-semiBold);
}

.footer__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(max-content, 150px));
    gap: var(--gap-01);
}

.footer__link {
    width: fit-content;
}

.footer__link:is(:hover, :focus-visible) {
    text-decoration: underline;
}

.footer__newsletter {
    display: grid;
    gap: var(--gap-02);
    margin-block-start: var(--mg-02);
    padding: var(--pd-02);
    border: 1px solid var(--border-gainsboro);
    border-radius: var(--radius-10);
    box-shadow: var(--shadow-1);
    background-color: var(--bg-chrome-yellow-alpha-10);
}

.footer__newsletter .footer__desc {
    max-width: 100%;
    margin-block-start: -1.000rem;
}

.input__wrapper {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.input__field {
    height: 5.500rem;
    padding-inline: 2.500rem 6.000rem;
    border: 1px solid var(--border-gainsboro);
    color: var(--text-gunmetal);
    border-radius: var(--radius-10);
    box-sizing: border-box;
}

.input__field:focus {
    border-color: var(--bg-majorelle-blue);
}

.input__btn {
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    width: 45px;
    height: 45px;
    display: grid;
    place-items: center;
    font-size: var(--fontSize-5);
    color: var(--text-white);
    background-color: var(--bg-majorelle-blue);
    border-radius: var(--radius-10);
    transition: var(--transition-1);
}

.input__btn:is(:hover, :focus-visible) {
    background-color: var(--bg-ocean-blue);
}

.input__btn ion-icon {
    transform: translateX(-2px) rotate(45deg);
}

.footer__bottom {
    display: grid;
    gap: var(--gap-02);
    padding-block: var(--pd-03);
    border-block-start: 1px solid var(--border-gainsboro);
}

.copyright__link {
    display: inline-block;
    width: max-content;
    color: var(--text-majorelle-blue);
    font-weight: var(--weight-medium);
}

.footer__bottom_list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 150px));
    gap: var(--gap-1h);
}

.footer__bottom_link:is(:hover, :focus-visible) {
    text-decoration: underline;
}